*,
*::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* mixin */
@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  font: 300 18px / 1.6em 'Roboto', 'Arial', sans-serif;
  color: #7c8ca0;
}
/* Page header */
.page-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-bottom: 1px solid #e4e6ea;
}

.page-header > .container {
  @include flex();
}

.page-section{
  margin-top: 20px;
}

.container{
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

/* Menu */
a{
  text-decoration: none;
  color: #5d6981;
  font-size: 22px;
}
img{
  max-width: 100%;
  height: auto;
}
.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  @include flex();
  
  &__item{
    padding: 15px 25px;
  }
  
  list-style-type: none;
  & li{
    margin: 0 4px;
  }
  &__item {
    &--icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.active{
      border-radius: 36px;
      border: 1px solid #9fabba;
    }
  }
}

.intro-section{
  background-image: linear-gradient(to top, #edeff1 0%, #edeff1 1%, #ffffff 24%, #e2e4e8 31%, #ffffff 100%);
}

.header{
  display: block;
  text-align: center;
  margin-top: 140px;
  
  &__title{
    line-height: 48px;
    color: #0149a1;
    font-size: 72px;
    font-weight: 700;
  }
  &__paragraph{
    font-size: 36px;
    font-weight: 300;
    margin-top: 5px;
  }
}

.intro-cta{
  margin: 110px 0 115px;
  text-align: center;
}
.intro__video{
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  background: url(../img/chat.png)no-repeat left 55px, url(../img/bulb.png)no-repeat right 55px;
  position: relative;
}

.intro__video--image{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1094px;
  width: 100%;
  margin: 0 auto;
}

.intro__video--image > .btn{
  position: absolute;
  margin-top: -60px;
}

.btn {
  width: 240px;
  height: 60px;
  border-radius: 30px;
  background-color: #fff;
  color: #0149a1;
  font-size: 18px;
  line-height: 1.2em;
  padding: 20px 70px;
  &--primary{
    padding: 22px 70px;
    color: #ffffff;
    background-color: #ff2d55;
    font-weight: 700;
    line-height: 48px;
  }
  &--default{
    width: 134px;
    height: 60px;
    padding: 20px 30px 20px;
    
  }
}




















ul > .footer__items{
  text-decoration: none;
}

.container__footer{
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}
